.country-view {
  text-align: center;  
  border: 1px solid lightslategrey;
  border-radius: 3px;
  margin: 4rem 0;
  padding: 4rem;
}


.flag {
    height: 6rem;
    min-width: 9rem;
    margin-bottom: 2rem;
    border: 1px dotted lightslategray;
}


button {
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid lightslategray;
}

button:hover {
    background-color: lightslategray;
    border: 1px solid black;
    cursor: pointer;
}
